# Project specific directories
zeb/
data/
dump/
logs/
weights/
tensorboard/

# Python
**/__pycache__/

# IDE
.idea/
.vscode/

# System files
.DS_Store

# Data files
zeb.xlsx
video_list.txt

# Symbolic link
zeb
data

# Output directories
reconstruction_out*
inputs
outputs
*.npz

